@charset "utf-8";

body { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 18px; color: #333; }

h1			{ color: #333; font-size: 30px; font-weight: bold; text-shadow:1px 1px 1px #FFF; }
h2			{ color: #333; font-size: 30px; font-weight: bold; text-shadow:1px 1px 1px #FFF; }
h3			{ color: #333; font-size: 30px; font-weight: bold; text-shadow:1px 1px 1px #FFF; }

#content	{ width: 800px; margin: 25px auto; text-align: center; }