
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; }
ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* Start App CSS */
body      { font-family: Helvetica, Arial, sans-serif; }
h1, h2, h3    { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 14px; color: #333; }
h1        { color: #444; font-size: 36px; font-weight: bold; text-shadow:1px 1px 1px #FFF; }
h2        { color: #444; font-size: 30px; font-weight: bold; text-shadow:1px 1px 1px #FFF; }
h3        { color: #444; font-size: 24px; font-weight: bold; text-shadow:1px 1px 1px #FFF; }
p         { font-size: 14px; margin: 5px 0; line-height: 21px; margin-bottom: 0.5em; }
.hide       { display: none; }
.clear      { clear: both; }
.warning	{ border: red medium solid; padding: 1em; border-radius: 10px; background-color: #FA6; }
#container    { width: 700px; min-height: 350px; margin: 45px auto; padding: 0 25px 25px 25px; text-align: left; }
#logo     { height: 125px; float: right; margin: 0 15px 20px; }
#welcome h1   { float: left; }
#welcome p    { float: left; width: 500px; margin-top: 20px; }

li { margin: 0.5em 0 0 1em; }
code { font-family: monospace; }

div.norm_top        { width: 700px; height: 12px; background: url('/application/views/dashboard_default/assets/images/content_norm_top.png') 0 0 no-repeat; margin: 0; }
div.norm_mid        { width: 700px; background: url('/application/views/dashboard_default/assets/images/content_norm_mid.png') 0 0 repeat-y; margin: 0 0; padding: 10px 0; }
div.norm_bot        { width: 700px; height: 12px; background: url('/application/views/dashboard_default/assets/images/content_norm_bot.png') 0 0 no-repeat; margin: 0 0 15px 0; }
div.norm_separator      { width: 671px; height: 18px; margin: 6px auto 12px auto; background: url('/application/views/dashboard_default/assets/images/content_norm_separator.png') 0 0 no-repeat; }
div.content_wrap      { margin: 15px 25px 15px 25px; }
div.content_wrap h2     { margin: 25px 0 25px 0; }
div.content_wrap h2 span  { color: #999999; font-style: italic; }
div.content_wrap h3     { margin: 15px 0 15px 0; }
div.content_wrap h3 span  { color: #999999; font-style: italic; }
div.content_wrap a      { color: #2078ce; text-decoration: none; }
div.content_wrap a:visited  { color: #2078ce; text-decoration: underline; }
div.content_wrap a:hover  { color: #2078ce; text-decoration: underline; }
div.content_wrap input[type=button] { margin: 0px 0px 25px 0px; }