*.DS_Store
.ftpquota
favicon.ico
error_log
application/config/config.php
application/config/database.php
application/config/custom.php
application/config/social_igniter.php
application/config/routes.php
application/helpers/custom_helper.php
application/logs/
application/modules/
images/site/
uploads/
system/logs/
application/views/