*.DS_Store
favicon.ico
application/config/config.php
application/config/database.php
application/config/social_igniter.php
application/config/email.php
application/modules/
media/
system/logs/
application/views/site_trackersearth