RewriteEngine On

RewriteCond $1 !^(index\.php|\.well-known/*|favicon\.ico|css|js|images|uploads|temp|robots\.txt|xd_receiver.htm|application/views/*|application/modules/*)
RewriteRule ^(.*)$ index.php/$1 [L]