@charset "utf-8";
/* Dashboard Default Theme */
/* Make background and basic fonts be designable from dashboard */
body		{ background: url(/uploads/sites/1/background.png) 0 0 repeat-x #ffffff; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 14px; color: #333; }

h1			{ color: #444; font-size: 30px; font-weight: bold; text-shadow:1px 1px 1px #FFF; }
h2			{ color: #444; font-size: 24px; font-weight: bold; text-shadow:1px 1px 1px #FFF; }
h3			{ color: #444; font-size: 18px; font-weight: bold; text-shadow:1px 1px 1px #FFF; }
p 			{ margin: 15px 0; font-size: 14px; }
a:link 		{ color: #666666; text-shadow:1px 1px 1px #FFF; font-weight: normal; text-decoration: none; }
a:visited	{ color: #666666; text-shadow:1px 1px 1px #FFF; text-decoration: none; }
a:hover		{ color: #555555; text-shadow:1px 1px 1px #FFF; text-decoration: underline; }
a:active	{ color: #555555; text-shadow:1px 1px 1px #FFF; text-decoration: underline; }
a 			{ font-weight: normal; text-shadow:1px 1px 1px #F3F3F3; }
table 		{ margin: 10 0; }
table td 	{ padding: 10px 10px 5px 0; text-align: left; vertical-align: top; }
pre			{ background: #f3f3f3; border: 1px solid #999999; padding: 10px; }

input[type=text], input[type=password], input[type=email], input[type=url] { height: 28px; background: url(images/input_basic.png) 0 0 repeat-x #fff; font-size: 13px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; margin: 0 10px 0 0; padding: 0 10px; border-radius: 5px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #cccccc; }
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus { height: 28px; background: url(images/input_basic_focus.png) 0 0 repeat-x #fff; margin: 0 10px 0 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #cccccc; }

input[type=submit], input[type=reset], input[type=button], button { height: 29px; background: url(images/button_basic.png) 0 0 repeat-x #888888; border: 1px solid #666666; cursor: pointer; color: #efefef; text-shadow:1px 1px 1px #222222; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 13px; padding: 0 12px; }
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover { height: 29px; background: url(images/button_basic_hover.png) 0 0 repeat-x #979595; border: 1px solid #666666; cursor: pointer; color: #efefef; text-shadow:1px 1px 1px #222222; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; font-size: 13px; padding: 0 12px; }

textarea 					{ background: url(images/textarea_basic.png) 0 0 repeat-x #ffffff; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 14px; padding: 10px; border-radius: 5px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #cccccc; }
textarea:focus 				{ background: url(images/textarea_basic_focus.png) 0 0 repeat-x #ffffff; }

input.input_itty			{ width: 20px; }
input.input_tiny			{ width: 30px; }
input.input_mini			{ width: 70px; }
input.input_small			{ width: 100px; }
input.input_medium			{ width: 245px; }
input.input_bigger			{ width: 350px; }
input.input_large			{ width: 450px; }
input.input_full			{ width: 625px; }

textarea.textarea_small		{ width: 100px; }
textarea.textarea_medium	{ width: 225px; }
textarea.textarea_large		{ width: 450px; }
textarea.textarea_full		{ width: 625px; }

.clear 						{ clear: both; }
.hide 						{ display: none; }
.left						{ float: left; }
.right						{ float: right; }
.color_red 					{ color: #b54545 !important; }
.color_black				{ color: #333333 !important; }
.line_horiz 				{ height: 2px; background: url('images/line_horiz.png') 0 0 repeat-x;  }
.line_vert					{ width: 2px; background: url('images/line_vert.png') 0 0 repeat-y;  }

.button_basic_on			{ position: relative; top: -8px; left: 0; width: auto; height: 27px; background: url(images/button_basic.png) 0 0 repeat-x; display: block; border: 1px solid #666666; color: #efefef; text-shadow:1px 1px 1px #555555; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; font-size: 14px; padding: 0 12px; }
.button_basic_on:hover		{ background: url(images/button_basic_hover.png) 0 0 repeat-x #888888; display: block; border: 1px solid #666666; color: #efefef; text-shadow:1px 1px 1px #555555; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; font-size: 14px; padding: 0 12px;  }
.button_basic_on span		{ position: relative; top: 7px; left: 0; }
.button_basic_on a			{ color: #efefef !important; text-shadow:1px 1px 1px #222222 !important; text-decoration: none; }

a.button_75					{ width: 75px; height: 27px; display: block; text-align: center; border: 1px solid #666666; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; font-size: 14px; }
a.button_basic_link 		{ background: url(images/button_basic.png) 0 0 repeat-x !important; color: #efefef !important; text-shadow:1px 1px 1px #222222 !important; }
a.button_basic_link:link 	{ background: url(images/button_basic.png) 0 0 repeat-x !important; color: #efefef !important; text-shadow:1px 1px 1px #222222 !important; }
a.button_basic_link:visited	{ background: url(images/button_basic.png) 0 0 repeat-x !important; color: #efefef !important; text-shadow:1px 1px 1px #222222 !important; }
a.button_basic_link:hover 	{ background: url(images/button_basic_hover.png) 0 0 repeat-x !important; text-decoration: none !important; }
a.button_basic_link span	{ position: relative; top: 6px; left: 0; }

#container					{ width: 950px; margin: 0 auto; padding: 0 auto;  }

/* Header */
#header						{ width: 950px; height: 62px; margin: 15px auto; background: url('images/header.png') repeat-x; }
#header #name				{ width: 600px; height: 50px; margin: 7px 0 0 17px; text-align: left; float:left; overflow: hidden; }
#header #name_img			{ float: left; }
#header #name_text  		{ display: block; margin: 9px 0 0 55px; color: #333; text-shadow:1px 1px 1px #FFF; }

#header #nav				{ width: 305px; height: 34px; position: relative; top: 14px; left: 22px; float: left; text-align: left; }
#header #nav ul				{ float: left; list-style: none; margin: 9px 0 0 20px; padding: 0; }
#header #nav ul li 			{ float: left; margin: 0 19px 0 0; }
#header #nav ul li.extra_space { margin: 0 44px 0 0; }

/* Footer */
#footer 					{ margin: 15px auto 45px auto; font-size: 14px; text-align: center; font-weight: bold; }
#footer ul					{ text-align: center; }
#footer li					{ display: inline; padding: 0; margin: 0 5px; list-style: none; text-align: justify; }

/* Content */
#content 					{ width: 700px; min-height: 350px; float: left; margin: 0 15px 0 0; padding: 0; text-align: left; }
#content_wide 				{ width: 950px; min-height: 350px; float: left; margin: 0 15px 0 0; padding: 0; text-align: left; }
#content_message			{ min-width: 615; max-width: 855px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; font-size: 14px; margin:0 0 15px 0; }

div.message_normal			{ padding: 0; }
div.message_error			{ padding: 12px 15px; background: #b54545; color: #f2edda; text-shadow:1px 1px 1px #fff; }
div.message_alert			{ padding: 12px 15px; background: #f2e3af; color: #666666; text-shadow:1px 1px 1px #d6d6d6; }
div.message_success			{ padding: 12px 15px; background: #479e45; color: #fbedbd; text-shadow:1px 1px 1px #666666; }

div.content table 			{ margin: 25px 0 15px 5px; }
div.content p 				{ margin: 25px 0 10px 0; line-height: 21px; }
div.content ul 				{ list-style-type: none; text-align: left; margin: 10px 0 2px 0; padding: 0; }
div.content li 				{ text-align: left; }

h2.content_title			{ float: left; clear: right;  position: relative; top: -6px; left: 30px; }
h2.content_title img		{ position: relative; top: 5px; left: -5px; }
ul.content_navigation		{ float: right; height: 29px; position: relative; top: 0; right: 10px; }
ul.content_navigation li 	{ float: left; margin: 0 20px 0 0; }

div.norm_top 				{ width: 700px; height: 12px; background: url('images/content_norm_top.png') 0 0 no-repeat; margin: 0; }
div.norm_mid 				{ width: 700px; background: url('images/content_norm_mid.png') 0 0 repeat-y; margin: 0 0; padding: 10px 0; }
div.norm_bot 				{ width: 700px; height: 12px; background: url('images/content_norm_bot.png') 0 0 no-repeat; margin: 0 0 15px 0; }
div.norm_separator			{ width: 671px; height: 18px; margin: 6px auto 12px auto; background: url(images/content_norm_separator.png) 0 0 no-repeat; }

div.wide_top 				{ width: 950px; height: 12px; background: url('images/content_wide_top.png') 0 0 no-repeat; margin: 0; }
div.wide_mid 				{ width: 950px; background: url('images/content_wide_mid.png') 0 0 repeat-y; margin: 0 0; padding: 10px 0; }
div.wide_bot 				{ width: 950px; height: 12px; background: url('images/content_wide_bot.png') 0 0 no-repeat; margin: 0 0 15px 0; }
div.wide_separator			{ width: 927px; height: 18px; margin: 6px auto 12px auto; background: url(images/content_wide_separator.png) 0 0 no-repeat; }

div.content_wrap 			{ margin: 15px 25px 15px 25px; }
div.content_wrap h3 		{ margin: 20px 0 15px 0; }
div.content_wrap h2			{ margin: 0 0 25px 0; }
div.content_wrap a 			{ color: #2078ce; text-decoration: none; }
div.content_wrap a:visited	{ color: #2078ce; text-decoration: underline; }
div.content_wrap a:hover	{ color: #2078ce; text-decoration: underline; }

div.content_line			{ width: 645px; background: url(images/content_norm_line.png) 0 0 repeat-x; margin: 0 0; padding: 10px 0 0 0; }
div.content_wrap_inner		{ margin: 0 15px 25px 15px; }
div.content_inner_top_right	{ width: 200px; float: right; position: relative; right: 0; top: -20px; }

div.content_col_two			{ width: 300px; float: left; margin: 0 25px 0 0; padding: 0; }
div.content_col_two	h3		{ margin: 0 0 15px 0 !important; }

/* Sidebar */
#sidebar 					{ float: left; width: 235px; margin: 0; padding: 0; text-align: left; }
#sidebar ul 				{ list-style-type: none; text-align: left; margin: 0 0 20px 25px; }
#sidebar li 				{ text-align: left; margin: 0 10px 0 0; }
#sidebar p 					{ margin: 0 0 12px 25px; }
#sidebar a:link				{ text-decoration: none; }
#sidebar a:visited			{ text-decoration: underline; }
#sidebar a:hover			{ text-decoration: underline; }

div.sidebar_top 			{ width: 235px; height: 12px; background: url('images/sidebar_top.png') 0 0 no-repeat; margin: 0; }
div.sidebar_mid 			{ width: 235px; min-height: 100px; background: url('images/sidebar_mid.png') 0 0 repeat-y; margin: 0; padding: 10px 0; }
div.sidebar_bot 			{ width: 235px; height: 12px; background: url('images/sidebar_bot.png') 0 0 no-repeat; margin: 0 0 15px 0; }
div.sidebar_separator		{ width: 214px;  height: 18px; margin: 8px auto; background: url(images/sidebar_separator.png) 0 0 no-repeat; }

a.sidebar_icon:hover		{ text-decoration: underline; }
a.sidebar_icon img			{ margin: 0 5px 0 0; }			
a.sidebar_icon span 		{ width: 150px; display: block; position: relative; top: -19px; left: 33px; }

span.msg_notification		{ display: block; padding: 6px; color: #f2edda; background: #b54545; font-size: 11px; font-weight: bold; float: right; position: relative; top: -38px; right: 65px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;  text-shadow:1px 1px 1px #333333; }

/* Wide Stuff */
#content_wide_content 		{ float: left; width: 675px; margin: 0; padding: 0; }
#content_wide_content h3 	{ margin: 0 0 10px 0; }

#content_wide_toolbar 		{ float: left; width: 175px; margin: 0 0 0 25px; padding: 0; text-align: left; }
#content_wide_toolbar h3	{ margin: 0 0 10px 0 !important; }
#content_wide_toolbar ul	{ margin: 25px 0 25px 0 !important; }

#create_stages 				{ margin: 8px 0 30px 15px; }
div.create_stage 			{ width: 150px; height: 35px; margin: 0 0 10px 0; }
div.create_stage a 			{ display: block; color: #555555; float:left; position: relative; top: 6px; left: 15px; }
div.create_stage a:visited	{ color: #555555; }
div.create_stage a:hover 	{ color: #555555; }

div.stage_marker 			{ width: 25px; height: 25px; float: left; color: #555555; text-shadow:1px 1px 1px #fff; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; text-align: center; }
div.stage_marker span 		{ position: relative; top: 6px; }
div.stage_marker_on 		{ background: url(images/button_basic.png) 0 0 repeat-x; border: 1px solid #666666; display: block; color: #efefef; text-shadow:1px 1px 1px #555555; }

span.stage_marker 			{ display: block; border: 1px solid #666666; color: #efefef; text-shadow:1px 1px 1px #555555; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }

/* Specific Pages */
#content_status				{ color: #999999; font-style: italic; font-weight: bold; text-shadow:1px 1px 1px #ffffff; text-transform: capitalize; }
#content_status span		{ margin: 0 6px 0 0; }

/* Publisher */
#status_update_text 		{ width: 615px; height: 45px; font-size: 14px; line-height: 18px; padding: 12px; }
#status_update_options		{ width: 400px; height: 50px; float: left; margin: 15px 0 0 0; }
#status_update_geo			{ width: 130px; float: left; }

#status_find_place			{ width: 24px; height: 24px; display: block; margin: 0; background: url(icons/places_gray_24.png) 0 0 no-repeat; position: relative; top: -6px; left: 0; } 
#status_find_place span		{ width: 110px; display: block; position: relative; top: 4px; left: 30px; }

#social_post				{ margin: 0; position: relative; top: -2px; left: 5px; }
#social_post li				{ margin: 0 0 15px 0; }
#social_post_horizontal		{ margin: 0; position: relative; top: -2px; left: 5px; }
#social_post_horizontal li	{ width: 110px; margin: 0; float: left; }

#social_post .checker 				{ position: relative; top: -2px; left: 0; }
#social_post_connections_avail		{ display: none; width: 80px; background: #333333; color: #eeeeee; font-size: 12px; padding: 8px; border-radius: 5px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; }
#social_post_connections_add		{ display: block; width: 160px; color: #999999 !important; text-shadow: #F3F3F3 1px 1px 1px !important; }
#social_post_connections_add span 	{ position: relative; top: -1px; left: 0; }

#status_update_post					{ width: 160px; float: right; margin: 15px 0 0 0; }
#character_count 					{ float: right; margin: 5px 15px 15px 0; font-size:18px; color: #666; text-shadow:1px 1px 1px #FFF; }
#status_post						{ float: right; margin: 0 15px 0 0; }

/* Feed */
#feed								{ margin: 0; }
#feed li							{ float: left; }
#feed ul.item_actions				{ position: relative; bottom: 8px; right: 5px; }

li.item								{ width: 645px; margin: 0; padding: 0; background: #ececec; }
li.item:hover ul.item_actions		{ visibility: visible; position: relative; bottom: 8px; right: 0px !important; }
li.item_new							{ width: 645px; margin: 0; padding: 0; background: #ececec; }
li.item_new:hover ul.item_actions	{ visibility: visible; position: relative; bottom: 8px; right: 0px !important; }
li.item_created						{ background: #f2e3af; }

div.item_thumbnail 			{ width: 48px; height: 48px; display: block; position: relative; top: 12px; left: 0; margin: 0 20px 18px 15px; overflow: hidden; float: left; }
div.item_content 			{ width: 550px; display: block; line-height: 21px; margin: 2px 0 0 0; position: relative; top: 5px; left: 0; float: left; }
div.item_content_small 		{ width: 400px; display: block; line-height: 21px; margin: 0 0 10px 0; position: relative; top: 5px; left: 0; float: left; }
span.item_separator			{ width: 100%; height: 2px; display: block; background: url(images/item_separator.png) 0 0 repeat-x; margin: 6px 0 0 0; }
span.item_verb				{ color: #999999; }
span.item_content_body		{ width: 450px; float: left; }
span.item_content_body_small{ width: 375px; float: left; word-wrap: break-word; word-break: inherit;  }
img.item_content_thumb		{ width: 125px; display: block; float: left; margin: 0 15px 0 0; }
span.item_content_detail	{ width: 350px; display: block; float: left; margin: 4px 0 2px 0; color: #999999; font-size: 12px; line-height: 21px; }
span.item_content_detail_sm	{ width: 250px; display: block; float: left; margin: 0 0 2px 0; color: #999999; font-size: 12px; line-height: 21px; }
span.item_meta 				{ height: 12px; display: block; margin: 5px 0 0 0; font-size: 12px; line-height: 12px; color: #999; width: 100px; float: left; }

/* Manage */
#manage_list				{ width: 100%; }
#manage_list li				{ float: left; }

li.item_manage				{ width: 100%; margin: 0; padding: 0; }
li.item_manage:hover ul.item_actions { visibility: visible; position: relative; bottom: 8px; right: 12px !important; }
li.item_manage:hover ul.item_actions span.actions { position: relative; top: -1px; left: 0; }
li.item_manage_new			{ width: 100%; margin: 0; padding: 0; background: #ececec; }
li.item_manage_new:hover ul.item_actions { visibility: visible; position: relative; bottom: 8px; right: 12px !important; }
li.item_manage_new:hover ul.item_actions span.actions { position: relative; top: -1px; left: 0; }

div.item_manage				{ width: 100%; line-height: 21px; margin: 0; padding: 0; }
span.item_manage_type		{ width: 32px; height: 32px; display: block; float: left; background-image: url(images/item_type_icons.png); position: relative; left: 5px; top: 7px; }
span.item_manage_title		{ width: 400px; height: 30px; float: left; margin: 10px 0 0 15px; padding: 0; }
span.item_manage_title a	{ font-size: 16px; line-height: 16px; color: #666666; text-shadow:1px 1px 1px #FFF; }
span.item_manage_title a:visited { color: #666666; text-shadow:1px 1px 1px #FFF; }
span.item_manage_meta		{ width: 450px; display: block; float: left; margin: 0 0 0 48px; padding: 0; font-size: 12px; line-height: 12px; color: #999999; }
span.item_manage_meta span span { position: relative; top: -2px; left: 0; }
span.item_manage_comments	{ display: block; width: 130px; float: left; }
span.item_manage_publish	{ display: block; width: 200px; float: left; }

/* Manage Users */
span.item_manage_avatar		{ width: 48px; height: 48px; display: block; float: left; position: relative; left: 5px; top: 10px; }
span.item_manage_name		{ width: 400px; height: 18px; float: left; margin: 10px 0 0 15px; padding: 0; }
span.item_manage_name a		{ font-size: 16px; line-height: 18px; color: #666666; text-shadow:1px 1px 1px #FFF; }
span.item_manage_name a:visited { color: #666666; text-shadow:1px 1px 1px #FFF; }
span.item_manage_user_meta	{ width: 450px; display: block; float: left; margin: -4px 0 0 65px; padding: 0; font-size: 12px; line-height: 12px; color: #999999; }
span.item_manage_last_login	{ width: 225px; display: block; float: left; }
span.item_manage_publish	{ width: 200px; display: block; float: left; }

/* Item Alerts */
span.item_alerts			{ height: 30px; float: right; display: block; margin: 10px 0; }
span.item_alert_new			{ width: 22px; display: block; padding: 3px 8px; cursor: pointer; color: #f2edda; background: #b54545; font-size: 11px; line-height: 21px; font-weight: bold; float: right; margin: 0 0px 0 10px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;  text-shadow:1px 1px 1px #333333; text-align: center; }
span.item_alert_approve 	{ width: 42px; display: block; padding: 3px 8px; cursor: pointer; color: #2078CE; background: #f2e3af; font-size: 11px; line-height: 21px; font-weight: bold; float: right; margin: 0 0px 0 10px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;  text-shadow:1px 1px 1px #d6d6d6; text-align: center; }
span.item_alert_published 	{ width: 50px; display: block; padding: 3px 8px; cursor: pointer; color: #f2edda; background: #4fa74d; font-size: 11px; line-height: 21px; font-weight: bold; float: right; margin: 0 0px 0 10px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;  text-shadow:1px 1px 1px #777777; text-align: center; }
span.item_alert_saved 		{ width: 50px; display: block; padding: 3px 8px; cursor: pointer; color: #f2edda; background: #2078CE; font-size: 11px; line-height: 21px; font-weight: bold; float: right; margin: 0 0px 0 10px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;  text-shadow:1px 1px 1px #888888;  text-align: center; }
span.item_alert_activate 	{ width: 50px; display: block; padding: 3px 8px; cursor: pointer; color: #f2edda; background: #b54545; font-size: 11px; line-height: 21px; font-weight: bold; float: right; margin: 0 0px 0 10px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;  text-shadow:1px 1px 1px #888888;  text-align: center; }

/* Item Types */
span.item_type				{ width: 38px; height: 32px; display: block; float: right; background-image: url(images/item_type_icons.png); position: relative; right: -10px; top: 0px; margin: 0; }
span.type_comment			{ background-position: 0 -35px; }
span.type_event				{ background-position: 42px -38px; }
span.type_events			{ background-position: 42px -70px; }
span.type_image				{ background-position: 0 -105px; }
span.type_audio				{ background-position: 0 -140px; }
span.type_page				{ background-position: 0 -175px; }
span.type_product			{ background-position: 0 -210px; }
span.type_article			{ background-position: 0 -245px; }
span.type_like				{ background-position: 0 -280px; }
span.type_link				{ background-position: 0 -315px; }
span.type_place				{ background-position: 0 -350px; }
span.type_approve			{ background-position: 0 -385px; }
span.type_file				{ background-position: 0 -420px; }
span.type_class				{ background-position: 0 -554px; }

/* Items Actions */
ul.item_actions 			{ margin: 10px 0 0 0; padding: 0; list-style: none; float: right; visibility: hidden; }
ul.item_actions li			{ float: left; margin: 0 0 0 20px; }
ul.item_actions li a 		{ color: #999999; font-size: 12px; }
ul.item_actions li a:visited{ color: #999999; font-size: 12px; }
ul.item_actions li a:hover 	{ color: #2078ce; font-size: 12px; }
span.actions				{ width: 25px; height: 18px; display: block; float: left; background-image: url(images/item_actions_icons.png); position: relative; left: 0; top: 2px; }
span.action_reply	 		{ background-position: 0 0; }
span.action_delete 			{ background-position: -25px 0; }
span.action_share 			{ background-position: -50px 0; margin: 0 6px 0 0; }
span.action_like 			{ background-position: -75px 0; }
span.action_comment 		{ background-position: -100px 0; }
span.action_get_place		{ background-position: -125px 0; }
span.action_link			{ background-position: -150px 0; }
span.action_approve			{ background-position: -175px 0; }
span.action_see				{ background-position: -225px 0; }
span.action_edit			{ background-position: -200px 0; }
span.action_saved			{ background-position: -250px 0; }
span.action_published		{ background-position: -275px 0; }
span.action_unpublished		{ background-position: -300px 0; }
span.action_add				{ background-position: -325px 0; }

/* Feed Specific */
span.item_comment_left		{ width: 24px; height: 32px; display: block; float: left; background: url(images/item_type_icons.png) 0 -455px; position: relative; left: 0; top: 4px; }
span.item_comment_text		{ max-width: 345px; display: block; float: left; position: relative; left: 0; top: 0; }
span.item_comment_right		{ width: 26px; height: 32px; display: block; float: left; background: url(images/item_type_icons.png) -6px -490px; position: relative; left: 0; top: 4px; }

/* Manage */
span.item_title				{ width: 500px; min-height: 72px; display: block; margin: 5px 0 0 10px; color: #666666; font-size: 18px; font-weight: bold; text-shadow:1px 1px 1px #FFF; float: left; }
span.item_title img			{ position: relative; top: 6px; left: 0; margin: 0 5px 0 0; }
span.item_right				{ display: block; float: right; position: relative; right: 10px; top: 15px; margin: 0 0 0 20px; }
span.item_right a:link		{ color: #666666; text-shadow:1px 1px 1px #FFF; font-weight: normal; text-decoration: none; }
span.item_right a:visited	{ color: #666666; text-shadow:1px 1px 1px #FFF; font-weight: normal; text-decoration: none; }
span.item_right a:hover		{ text-decoration: underline; }

/* Oscar's Temp Styles */
/* After being finalized ill move into the categories above. */
#feed .item .comment_form  { width:335px; margin:0 0 0 0; display:none; }
#feed .item textarea { width:278px; font-size:12px; font-family:inherit; padding:5px; margin: 0 0 5px 0; float: left;  }
#feed .item [type=submit] { float:right; margin: 4px 0 10px 0; height:25px; font-size:12px; border-radius:7px; }

.modal_wrap {padding:17px;}
#new_category {width:410px;height:280px}
#new_category label {display:block;padding:10px 0 7px;}
#new_category .selector {margin:0 0 0 0 !important;}
#new_category h2 {display:block;padding:0 0 10px 0;}
#new_category > input[type=text] {width:375px;}
#new_category > input[type=submit] {float:right;} 
#new_category > textarea { width: 375px; }
.slug_url { font-style: italic; height:22px; line-height: 22px; color: #999999; margin: 13px 0 18px 4px !important; }
.slug_url span {border-bottom:1px dashed #aaa;}
.slug_url span:hover {border-bottom:1px dashed #dddd00;cursor:pointer;background:#f2e3af}
.slug_url_edit {width:100px;height:15px !important;padding:3px !important; }
		
.comment_list { width: 450px; border-radius:5px; background: #e2e2e2; margin: 0 0 10px 0; display: none; }
.comment_list li:first-child { border-top:none; padding: 10px 10px 5px 15px; }
.comment_list li { padding: 0 10px 5px 15px; margin: 0; display:block;float:none !important; }
.comment_list li div.comment { border-bottom:1px solid #ccc; margin: 5px 0 0 0; }
.comment_list li div.comment p { margin: 0; color: #555555; text-shadow: #eeeeee; font-size:12px; line-height:16px; }
.comment_list li p.comment_meta span { margin: 10px 0 0 0; font-size:11px; color:#999999; }
.comment_list li img.comment_thumb { width: 34px; display: block; float: left; margin: 0 10px 10px 0; }
.comment_list #comment_write { margin: 5px 0 0 0; }

/* Auto complete drop down styles */
.ui-autocomplete 			{ background:#fff;background:rgba(255,255,255,0.97);width:200px;border:1px solid #CCC; }
.ui-autocomplete li 		{ cursor:pointer !important; }
.ui-autocomplete a 			{ padding:5px;display:block;cursor:pointer !important; }
.ui-autocomplete li a:hover,.ui-autocomplete .ui-state-hover { background:#F2F2F2; }

.ui-dialog 					{ padding: 20px; background:#ECECEC; border:1px solid #A09F9F; margin-left:auto; margin-right:auto; border-radius:5px; -moz-border-radius:5px; -webkit-box-shadow:rgba(0,0,0,0.2) 0 0 10px; -moz-box-shadow:rgba(0,0,0,0.2) 0 0 10px; box-shadow:rgba(0,0,0,0.2) 0 0 10px; }
.ui-dialog-titlebar 		{ margin: 0 0 20px 0; }
.ui-dialog-title 			{ color: #444; font-size: 24px; font-weight: bold; text-shadow:1px 1px 1px #FFF; text-transform: capitalize; }
.ui-dialog-content			{ height: auto; }
.ui-dialog-titlebar-close 	{ position:absolute;top:-15px;right:-15px;text-indent:-9999px;display:block;background:url(/images/fancybox/fancy_close.png) no-repeat;width:30px;height:30px;}
.ui-dialog-buttonset button	{ margin: 0 15px 0 0; }
.ui-dialog-buttonset button:hover { height: 29px; background: url(images/button_basic_hover.png) 0 0 repeat-x #979595; border: 1px solid #666666; cursor: pointer; color: #efefef; text-shadow:1px 1px 1px #222222; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; font-size: 13px; padding: 0 12px; }
.ui-widget-overlay 			{ background:#000 !important; filter:alpha(opacity=60);opacity:.6; position: absolute; top: 0px; left: -15px; width: 100%; height: 100%; margin: 0 !important; }

/* Places Editor */
#place_address				{ width: 390px; float: left; }
#place_map					{ width: 235px; float: left; margin: 0 0 0 25px; }
#place_map_map				{ width: 225px; height: 225px; margin: 23px 0 0 0; border: 4px solid #c3c3c3; }
#place_country				{ width: 225px; display: block; float: left; margin: 15px 0 0 0; }
#place_map_it				{ width: 100px; display: block; float: left; margin: 22px 0 0 0; color: #999999; }

/* Page Editor */
#text_content_norm			{ width: 630px; margin: 0; padding: 0; }
#text_content_wide			{ width: 880px; margin: 0; padding: 0; }

.page_manage_container		{ width: 125px; height: 185px; float: left; margin: 20px 17px 25px 17px; }
.page_manage_icon 			{ width: 92px; height: 117px; background: url(images/pages_manage_back.png) 0 0 no-repeat; text-align: center; cursor: move; }
.page_manage_title			{ width: 94px; height: 75px; display: block; position: relative; top: 10px; left: 0; margin: 0; text-align: center; color: #666666; font-size: 14px; font-weight: normal; text-transform: capitalize; text-shadow:1px 1px 1px #FFF; }
.page_manage_buttons		{ position: relative; top: 50px; left: 0; }
.page_manage_buttons a		{ margin: 0 5px 0 0; }

#title_url_text				{ margin: 10px 0 10px 10px; color: #999999; font-style: italic; }

#layout_options				{ height: 40px; margin: 0 0 20px 10px;  }
.layout_picker				{ width: 75px; height: 24px; margin: 0 15px 0 0; padding: 10px 8px 2px 8px; display: block; text-align: center; float: left; background: url(images/gradients_horizontal.png) 0 0 repeat-x #f9f9f9; border: 1px solid #c3c3c3; color: #999999 !important; text-shadow:1px 1px 1px #ffffff; font-size: 14px; font-weight: bold; text-align: center; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.layout_picker:hover		{ color: #2078ce !important; text-decoration: none; }
.layout_selected			{ background: url(images/gradients_horizontal.png) 0 -50px repeat-x #f9f9f9; border: 1px solid #b3b3b3; color: #666666; }

/* Settings - Widget */
#widget_content_area 				{ width: 545px; padding:0 0 0 12px; margin: 0 0 10px 0; float: left; }
#widget_sidebar_area 				{ width: 275px; padding:0 0 0 12px; margin: 0 0 10px 35px; float: left; }
#widget_wide_area 	 				{ width: 870px; padding:0 0 0 12px; margin: 0 0 25px 0; }
div.widget_area h3					{ float: left; }
div.widget_area input[type=button] 	{ float: right; display: block; position: relative; top: 12px; right: -10px; }
div.widget_border					{ width: 100%; min-height: 25px; border: 4px dashed #999999; }

div.widget_instance_none			{ width: auto; height: 18px; border: 1px solid #ececec; margin: 15px; padding: 13px; font-size: 18px; font-weight: bold; color: #999999; text-shadow:1px 1px 1px #ffffff; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
div.widget_instance					{ width: auto; height: 18px; background: url(images/gradients_horizontal.png) 0 0 repeat-x #f9f9f9; border: 1px solid #c3c3c3; margin: 15px; padding: 13px; font-size: 14px; font-weight: normal; color: #999999; text-shadow:1px 1px 1px #ffffff; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
div.widget_instance:hover			{ cursor: move; }
div.widget_instance:active			{ width: auto; background: url(images/gradients_horizontal.png) 0 -50px repeat-x #f9f9f9; border: 1px solid #b3b3b3; color: #999999; cursor: move; }

span.widget_icon 					{ width: 24px; height: 24px; float: left; display: block; position: relative; top: -2px; left: 0; }
span.widget_name 					{ height: 24px; float: left; display: block; position: relative; top: 3px; left: 10px; }

div.widget_instance 		a.widget_edit 			{ width: 55px; float: right; display: none; font-size: 12px; color: #999999; position: relative; top: 3px; right: 0; }
div.widget_instance:hover 	a.widget_edit 			{ display: block; }
div.widget_instance 		a.widget_edit			{ color: #999999; }
div.widget_instance 		a.widget_edit:visited	{ color: #999999; }
div.widget_instance 		a.widget_edit:hover 	{ color: #2078ce; }

div.widget_instance a.widget_edit span.actions 		{ position: relative; top: -2px; left: 0; margin: 0 5px 0 0; }

#widgets_available			{ margin: 25px 0 0 0; }
#widgets_available li		{ width: auto; height: 18px; margin: 0 0 15px 0; background: url(images/gradients_horizontal.png) 0 0 repeat-x #f9f9f9; border: 1px solid #c3c3c3; padding: 13px; font-size: 14px; font-weight: normal; color: #999999; text-shadow:1px 1px 1px #ffffff; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
#widgets_available li span.widget_icon 				{ width: 24px; height: 24px; float: left; display: block; position: relative; top: -2px; left: 0; }
#widgets_available li span.widget_name 				{ height: 24px; float: left; display: block; position: relative; top: 3px; left: 5px; }
#widgets_available li:active						{ width: auto; background: url(images/gradients_horizontal.png) 0 -50px repeat-x #f9f9f9; border: 1px solid #b3b3b3; color: #999999; cursor: move; }
#widgets_available li:hover							{ cursor: pointer; }
#widgets_available li:hover a.widget_add 			{ color: #999999; display: block; }
#widgets_available li		a.widget_add 			{ width: 55px; float: right; display: none; font-size: 12px; color: #999999; position: relative; top: -2px; right: 0; line-height: 23px; }
#widgets_available li 		a.widget_add:hover 		{ color: #2078ce; }
#widgets_available li 		a.widget_add:visited	{ color: #999999; }
#widgets_available li 		a.widget_add span.action_add { display: block; margin: 0 5px 0 0; }

.widget_delete				{ width: 130px; height: 22px; display: block; float: right; padding: 8px 0 0 0; background: url(images/gradients_horizontal.png) 0 -14px repeat-x #f9f9f9; border: 1px solid #c3c3c3; color: #b43e1e; font-weight: bold; text-align: center; text-shadow:1px 1px 1px #ffffff; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.widget_delete:hover 		{ background: url(images/gradients_horizontal.png) 0 -106px repeat-x #c8290f; border: 1px solid #999999; color: #e9e9e9; text-shadow:1px 1px 1px #666666; text-decoration: none; }